*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;

}
.Container{
display: flex;
gap: 10px;
flex-wrap: wrap;
width: 420px;
}
.Container .box{
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 12px;
    border: 2px solid #333;
}
.box .image{
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-size: cover;
    background-image: url("crtoon.jpeg");
}

.box .hovered{
border-radius: 2px dashed #333;
}